[submodule "submodules/UR_OnRobot_ROS2"]
	path = submodules/UR_OnRobot_ROS2
	url = https://github.com/tonydle/UR_OnRobot_ROS2
[submodule "submodules/OnRobot_ROS2_Driver"]
	path = submodules/onrobot_driver
	url = https://github.com/tonydle/OnRobot_ROS2_Driver
[submodule "submodules/OnRobot_ROS2_Description"]
	path = submodules/onrobot_description
	url = https://github.com/huoshengyu/OnRobot_ROS2_Description
[submodule "submodules/ros2_robotiq_gripper"]
	path = submodules/ros2_robotiq_gripper
	url = https://github.com/huoshengyu/ros2_robotiq_gripper
[submodule "submodules/cartesian_controllers"]
	path = submodules/cartesian_controllers
	url = https://github.com/huoshengyu/cartesian_controllers
[submodule "submodules/serial"]
	path = submodules/serial
	url = https://github.com/tylerjw/serial/
	branch = ros2
[submodule "submodules/interbotix_ros_manipulators"]
	path = submodules/interbotix_ros_manipulators
	url = https://github.com/huoshengyu/interbotix_ros_manipulators
	branch = jazzy
[submodule "submodules/interbotix_ros_core"]
	path = submodules/interbotix_ros_core
	url = https://github.com/huoshengyu/interbotix_ros_core
	branch = jazzy
[submodule "submodules/interbotix_ros_toolboxes"]
	path = submodules/interbotix_ros_toolboxes
	url = https://github.com/huoshengyu/interbotix_ros_toolboxes
	branch = jazzy
[submodule "submodules/FACTR_Teleop"]
	path = submodules/FACTR_Teleop
	url = https://github.com/JasonJZLiu/FACTR_Teleop
[submodule "submodules/gello_software"]
	path = submodules/gello_software
	url = https://github.com/huoshengyu/gello_software
