<?xml version="1.0"?>

<robot name="H" xmlns:xacro="http://www.ros.org/wiki/xacro">

  <xacro:include filename="$(find morpheus_teleop)/urdf/macros/bar_12in.xacro" />

  <xacro:macro name="H"
    params="x:=0 y:=0 z:=0 R:=0 P:=0 Y:=0 scale:=0.0254 prefix parent">

    <link name="${prefix}H"/>

    <xacro:bar_12in
        x="0"
        y="${scale * 1}"
        z="0"
        R="${pi/2}"
        P="0"
        Y="0"
        prefix="${prefix}H_bottomleft_"
        parent="${prefix}H"
        scale="${scale}"
    />
    <xacro:bar_12in
        x="${scale * 11}"
        y="${scale * 1}"
        z="0"
        R="${pi/2}"
        P="0"
        Y="0"
        prefix="${prefix}H_bottomright_"
        parent="${prefix}H"
        scale="${scale}"
    />
    <xacro:bar_12in
        x="0"
        y="${scale * 1}"
        z="${scale * 12}"
        R="${pi/2}"
        P="0"
        Y="0"
        prefix="${prefix}H_topleft_"
        parent="${prefix}H"
        scale="${scale}"
    />
    <xacro:bar_12in
        x="${scale * 11}"
        y="${scale * 1}"
        z="${scale * 12}"
        R="${pi/2}"
        P="0"
        Y="0"
        prefix="${prefix}H_topright_"
        parent="${prefix}H"
        scale="${scale}"
    />
    <xacro:bar_12in
        x="0"
        y="${scale * 1}"
        z="${scale * 11.5}"
        R="0"
        P="0"
        Y="${-pi/2}"
        prefix="${prefix}H_middle_"
        parent="${prefix}H"
        scale="${scale}"
    />

    <joint name="${prefix}H_joint" type="fixed">
      <parent link="${parent}" />
      <child link="${prefix}H" />
      <origin xyz="${x} ${y} ${z}" rpy="${R} ${P} ${Y}" />
    </joint>
    
  </xacro:macro>

</robot>