<?xml version="1.0"?>

<robot name="tunnel" xmlns:xacro="http://www.ros.org/wiki/xacro">

  <xacro:include filename="$(find morpheus_teleop)/urdf/macros/wall_4x12in.xacro" />
  <xacro:include filename="$(find morpheus_teleop)/urdf/macros/wall_6x12in.xacro" />

  <xacro:macro name="tunnel"
    params="x:=0 y:=0 z:=0 R:=0 P:=0 Y:=0 scale:=0.0254 prefix parent">

    <link name="${prefix}tunnel"/>

    <xacro:wall_6x12in
        x="0"
        y="0"
        z="0"
        R="0"
        P="0"
        Y="1.57079632679"
        prefix="${prefix}tunnel_bottom_"
        parent="${prefix}tunnel"
        scale="${scale}"
    />
    <xacro:wall_4x12in
        x="0"
        y="0"
        z="${scale * 1}"
        R="1.57079632679"
        P="1.57079632679"
        Y="0"
        prefix="${prefix}tunnel_left_"
        parent="${prefix}tunnel"
        scale="${scale}"
    />
    <xacro:wall_4x12in
        x="${scale * 5}"
        y="0"
        z="${scale * 1}"
        R="1.57079632679"
        P="1.57079632679"
        Y="0"
        prefix="${prefix}tunnel_right_"
        parent="${prefix}tunnel"
        scale="${scale}"
    />
    <xacro:wall_6x12in
        x="0"
        y="0"
        z="${scale * 5}"
        R="0"
        P="0"
        Y="1.57079632679"
        prefix="${prefix}tunnel_top_"
        parent="${prefix}tunnel"
        scale="${scale}"
    />

    <joint name="${prefix}tunnel_joint" type="fixed">
      <parent link="${parent}" />
      <child link="${prefix}tunnel"/>
      <origin xyz="${x} ${y} ${z}" rpy="${R} ${P} ${Y}" />
    </joint>

  </xacro:macro>

</robot>