<launch>

    <!-- launch keyboard twist -->
    <arg name="twist_topic" default="/twist_controller/command" />
    <node pkg="teleop_twist_keyboard" type="keyboard_twist.py" name="keyboard_twist" output="screen">
        <param name="twist_topic" value="$(arg twist_topic)" />
    </node>

    <!-- Twist Converter -->
    <include file="$(find morpheus_teleop)/launch/twist_converter.launch"/>

</launch>