<launch>

    <!-- launch teleop xbox360 twist -->
    <arg name="twist_topic" default="/twist_controller/command" />
    <node pkg="joy" type="joy_node" name="joy_node" respawn="true" output="screen">
        <param name="dev" type="str" value="/dev/input/js0" />
        <param name="dev_ff" value="/dev/input/event7" />
        <param name="default_trig_val" value="true" />
    </node>

    <node pkg="morpheus_teleop" type="xbox360_swap.py" name="xbox360_twist" output="screen">
        <param name="twist_topic" value="$(arg twist_topic)" />
    </node>

    <!-- tcp pose publisher -->
    <node pkg="morpheus_teleop" type="tcp_pose_publisher.py" name="tcp_pose_publisher" output="screen"/>

</launch>