<?xml version="1.0"?>
<robot name="ur5e_control" xmlns:xacro="http://ros.org/wiki/xacro">

  <!--The driver already provides a control tag for the UR arm, we can directly include-->
  <xacro:include filename="$(find ur_robot_driver)/urdf/ur.ros2_control.xacro"/>

  <!--We need to specify the arguments used for parametrizing our description-->
  <xacro:arg name="ur_type" default="ur5e"/>
  <xacro:arg name="joint_limit_parameters_file" default="$(find ur_description)/config/$(arg ur_type)/joint_limits.yaml"/>
  <xacro:arg name="kinematics_parameters_file" default="$(find ur_description)/config/$(arg ur_type)/default_kinematics.yaml"/>
  <xacro:arg name="physical_parameters_file" default="$(find ur_description)/config/$(arg ur_type)/physical_parameters.yaml"/>
  <xacro:arg name="visual_parameters_file" default="$(find ur_description)/config/$(arg ur_type)/visual_parameters.yaml"/>
  <xacro:arg name="transmission_hw_interface" default="hardware_interface/PositionJointInterface" />

  <xacro:arg name="robot_ip" default="0.0.0.0"/>
  <xacro:arg name="headless_mode" default="false" />
  <xacro:arg name="ur_script_filename" default="$(find ur_client_library)/resources/external_control.urscript"/>
  <xacro:arg name="ur_output_recipe_filename" default="$(find ur_robot_driver)/resources/rtde_output_recipe.txt"/>
  <xacro:arg name="ur_input_recipe_filename" default="$(find ur_robot_driver)/resources/rtde_input_recipe.txt"/>
  <xacro:arg name="use_mock_hardware" default="false" />
  <xacro:arg name="mock_sensor_commands" default="false" />

  <!--Create the scene containing the UR robot-->
  <xacro:include filename="$(find morpheus_description)/urdf/scenes/ur5e_scene.xacro"/>

  <!--Create the control tag for the UR robot-->
  <xacro:ur_ros2_control
    name="$(arg ur_type)"
    tf_prefix=""
    kinematics_parameters_file="$(arg kinematics_parameters_file)"
    transmission_hw_interface="$(arg transmission_hw_interface)"
    use_mock_hardware="$(arg use_mock_hardware)"
    mock_sensor_commands="$(arg mock_sensor_commands)"
    headless_mode="$(arg headless_mode)"
    robot_ip="$(arg robot_ip)"
    script_filename="$(arg ur_script_filename)"
    output_recipe_filename="$(arg ur_output_recipe_filename)"
    input_recipe_filename="$(arg ur_input_recipe_filename)"
  />

  <!--If you had more controlled devices in your description, e.g. a gripper, you can add another ros2_control tag here-->

</robot>