<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="test_scene">

    <xacro:include filename="$(find morpheus_teleop)/urdf/scenes/a_bot_scene.xacro" />
    
    <xacro:include filename="$(find morpheus_teleop)/urdf/macros/cylinder.xacro" />
    <xacro:cylinder
        prefix=""
        parent="world"
        x="0"
        y="1.0"
        z="0.5"
    />
    
    <xacro:include filename="$(find morpheus_teleop)/urdf/macros/teapot.xacro" />
    <xacro:teapot
        prefix=""
        parent="world"
        x="1.0"
        y="0"
        z="0.5"
        scale="0.05"
    />

    <xacro:include filename="$(find morpheus_teleop)/urdf/macros/Test_Block_1.xacro" />
    <xacro:Test_Block_1
        prefix=""
        parent="world"
        x="0"
        y="-0.5"
        z="0.5"
        scale="0.001"
    />

</robot>