<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="test_wall_1_scene">

    <xacro:include filename="$(find morpheus_teleop)/urdf/scenes/a_bot_scene.xacro" />
    
    <xacro:include filename="$(find morpheus_teleop)/urdf/macros/test_wall_1.xacro" />
    <xacro:test_wall_1
        prefix=""
        parent="world"
        x="0"
        y="1.0"
        z="0.5"
        scale="0.001"
    />

</robot>