<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="test_scene">

    <xacro:include filename="$(find morpheus_teleop)/urdf/scenes/a_bot_scene.xacro" />
    
    <xacro:include filename="$(find morpheus_teleop)/urdf/macros/wall.xacro" />
    <!-- y=0.673: 26 inches distance from center of robot base to chosen wall position -->
    <!-- z=0.422: Sim pedestal is 600 mm, left table is 6 inches shorter than real pedestal -->
    <xacro:wall
        prefix=""
        parent="world"
        x="0" 
        y="0.6731"
        z="0.422"
        scale="0.001"
    />

    <xacro:include filename="$(find morpheus_teleop)/urdf/macros/foam.xacro" />
    <!-- x=0.002: foam is center aligned on the wall, about 2mm from being edge aligned -->
    <!-- y=0.6986: wall is 1 inch thick, block is behind it. Slight extra buffer. This offset is not needed if the foam piece includes that spacing when exported -->
    <xacro:foam
        prefix=""
        parent="world"
        x="0.002" 
        y="0.6731"
        z="0.422"
        scale="0.001"
    />

</robot>