<?xml version="1.0" encoding="UTF-8"?>
<robot xmlns:xacro="http://wiki.ros.org/xacro" name="$(arg name)">

    <!-- Parameters -->
    <xacro:arg name="name" default="ur"/>
    <xacro:arg name="gripper" default=""/>

    <!-- Handle conditionals -->
    <xacro:choose>
        <xacro:when value="$(arg gripper)" equals="onrobot">
            <xacro:include filename="$(find morpheus_description)/srdf/macros/ur_onrobot_macro.srdf.xacro"/>
            <xacro:ur_onrobot_srdf/>
        </xacro:when>
        <xacro:when value="$(arg gripper)" equals="robotiq">
            <xacro:include filename="$(find morpheus_description)/srdf/macros/ur_robotiq_macro.srdf.xacro"/>
            <xacro:ur_robotiq_srdf/>
        </xacro:when>
        <xacro:otherwise>
            <xacro:include filename="$(find ur_moveit_config)/srdf/ur_macro.srdf.xacro"/>
            <xacro:ur_srdf/>
        </xacro:otherwise>
    </xacro:choose>

</robot>