<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="a_bot_node2_scene">

    <xacro:include filename="$(find morpheus_description)/urdf/scenes/a_bot_scene.xacro" />

    <xacro:include filename="$(find morpheus_description)/urdf/macros/node2_table.xacro" />
    <xacro:node2_table
        prefix=""
        parent="world"
        x="${0.0254 * (-62)}"
        y="${0.0254 * 8.5}"
        z="${0.0254 * 34.75}"
        scale="1"
    />
    <!-- scale=0.0254 meters/inch -->

</robot>