<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="a_bot_trees_scene">

    <xacro:include filename="$(find morpheus_description)/urdf/scenes/a_bot_scene.xacro" />

    <xacro:include filename="$(find morpheus_description)/urdf/macros/table_2x8ft.xacro" />
    <xacro:table_2x8ft
        prefix=""
        parent="world"
        x="-0.5"
        y="0.6604"
        z="0.74295"
        scale="0.0254"
    />
    
    <xacro:include filename="$(find morpheus_description)/urdf/macros/trees.xacro" />
    <xacro:trees
        prefix=""
        parent="world"
        x="0.2"
        y="0.6604"
        z="0.74295"
        scale="0.0254"
    />
    <!-- scale=0.0254 meters/inch -->

</robot>