<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="b_bot_double_level_shelf_scene">

    <xacro:include filename="$(find morpheus_description)/urdf/scenes/b_bot_scene.xacro" />

    <xacro:include filename="$(find morpheus_description)/urdf/macros/table_2x8ft.xacro" />
    <xacro:table_2x8ft
        prefix=""
        parent="world"
        x="-0.5"
        y="0.6604"
        z="0.74295"
        scale="0.0254"
    />
    
    <xacro:include filename="$(find morpheus_description)/urdf/macros/double_level_shelf.xacro" />
    <xacro:double_level_shelf
        prefix=""
        parent="world"
        x="0.2"
        y="0.6604"
        z="0.74295"
        scale="0.0254"
    />
    <!-- scale=0.0254 meters/inch -->

</robot>