<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="node2_scene">

    <xacro:include filename="$(find morpheus_description)/urdf/macros/node2.xacro" />
    <xacro:include filename="$(find morpheus_description)/urdf/macros/dragon.xacro" />
    <xacro:node2
        prefix=""
        parent="world"
        scale="1"
    >
        <origin 
            xyz="
                ${0.0254 * 0} 
                ${0.0254 * (14.5 + 8.5)} 
                ${0.0254 * 21}
            " 
            rpy="
                0 
                0 
                0
            "
        />
    </xacro:node2>
    <xacro:dragon
        prefix=""
        parent="world"
        scale="1"
    >
        <origin 
            xyz="
                ${0.0254 * 12} 
                ${0.0254 * 20} 
                ${0.0254 * 32}
            " 
            rpy="
                0.5 
                -0.5 
                0.5
            "
        />
    </xacro:dragon>
    <!-- scale=0.0254 meters/inch -->

</robot>