<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="node2_scene">

    <xacro:include filename="$(find morpheus_description)/urdf/macros/node2_table.xacro" />
    <xacro:node2_table
        prefix=""
        parent="world"
        scale="1"
    >
        <origin 
            xyz="
                ${0.0254 * (-48)} 
                ${0.0254 * 8.5} 
                ${0.0254 * 34.75 * 0}
            " 
            rpy="
                0 
                0 
                0
            "
        />
    </xacro:node2_table>
    <!-- scale=0.0254 meters/inch -->

</robot>