<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="ur">

    <xacro:include filename="$(find morpheus_description)/urdf/macros/ur5e_macro.xacro" />

    <xacro:ur5e
        name="ur"
        tf_prefix=""
        parent="world"
        tcp_offset="0.223"
    >
        <origin xyz="0 0 ${0.0254 * 34.75}" rpy="0 0 0" />
    </xacro:ur5e>

</robot>