<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="b_bot">

    <xacro:include filename="$(find morpheus_description)/urdf/macros/ur5e_macro.xacro" />
    <xacro:include filename="$(find morpheus_description)/urdf/macros/d415_mount_macro.xacro" />
    <xacro:include filename="$(find onrobot_rg2ft_description)/urdf/onrobot_rg2ft_macro.xacro" />

    <xacro:macro name="b_bot"
        params="
        prefix 
        parent 
        *origin">

        <xacro:ur5e
            tf_prefix="${prefix}"
            parent="${parent}"
            tcp_offset="0.223"
        >
            <xacro:insert_block name="origin" />
        </xacro:ur5e>

        <xacro:d415_mount
            prefix="${prefix}"
            parent="${prefix}wrist_3_link"
        >
            <origin xyz="0 0 0" rpy="0 0 0" />
        </xacro:d415_mount>

        <xacro:onrobot_rg2ft
            prefix="${prefix}"
            parent="${prefix}d415_mount_attach_link"
            hw_interface="hardware_interface/PositionJointInterface"
        >
            <origin xyz="0 0 0.0026" rpy="0 0 ${pi}" /> 
        </xacro:onrobot_rg2ft>

    </xacro:macro>

</robot>