<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="b_bot">

    <xacro:include filename="$(find morpheus_description)/urdf/macros/ur5e_macro.xacro" />
    <xacro:include filename="$(find morpheus_description)/urdf/macros/d415_mount_macro.xacro" />
    <xacro:include filename="$(find onrobot_description)/urdf/onrobot_macro.xacro" />

    <xacro:macro name="b_bot"
        params="
        prefix 
        parent 
        *origin
        use_fake_hardware:=false
        ">

        <xacro:ur5e
            tf_prefix="${prefix}"
            parent="${parent}"
            tcp_offset="0.223"
        >
            <xacro:insert_block name="origin" />
        </xacro:ur5e>

        <xacro:d415_mount
            prefix="${prefix}"
            parent="${prefix}wrist_3_link"
        >
            <origin xyz="0 0 0" rpy="0 0 0" />
        </xacro:d415_mount>

        <xacro:onrobot
            onrobot_type="rg2"
            prefix="${prefix}"
            use_fake_hardware="${use_fake_hardware}"
        >
            <origin xyz="0 0 0.0026" rpy="0 0 ${pi}" /> 
        </xacro:onrobot>

        <!-- Connect the OnRobot to the UR robot -->
        <joint name="${prefix}onrobot_base_link_joint" type="fixed">
            <parent link="${prefix}tool0"/>
            <child link="${prefix}onrobot_base_link"/>
            <origin xyz="0 0 0" rpy="0 0 ${-pi/2}"/>
        </joint>

    </xacro:macro>

</robot>