<?xml version="1.0"?>
<robot name="hera_pick_goal" xmlns:xacro="http://ros.org/wiki/xacro">
  <xacro:macro name="hera_pick_goal"
      params="prefix parent radius length *origin">
    <link name="${prefix}">
      <visual>
        <origin xyz="0 0 0" rpy="0 0 0"/>
        <geometry>
          <cylinder radius="${radius}" length="${length}"/>
        </geometry>
        <material name="blue">
            <color rgba="0.0 0.0 1.0 0.8" />
        </material>
      </visual>
      <collision>
        <origin xyz="0 0 0" rpy="0 0 0"/>
        <geometry>
          <cylinder radius="${radius}" length="${length}"/>
        </geometry>
      </collision>
    </link>

    <joint name="${prefix}_joint" type="fixed">
        <parent link="${parent}" />
        <child link="${prefix}" />
        <xacro:insert_block name="origin" />
    </joint>
  </xacro:macro>
</robot>