<?xml version="1.0"?>
<robot name="macro_joint" xmlns:xacro="http://ros.org/wiki/xacro">
  <xacro:macro name="macro_joint"
      params="x:=0 y:=0 z:=0 prefix parent child">
    <joint name="${prefix}${child}_joint" type="fixed">
        <parent link="${parent}" />
        <child link="${prefix}${child}" />
        <origin xyz="${x} ${y} ${z}" />
      </joint>
  </xacro:macro>
  

</robot>