<?xml version="1.0"?>
<robot name="node2_table" xmlns:xacro="http://ros.org/wiki/xacro">
  <xacro:macro name="node2_table"
    params="
    prefix 
    parent
    scale:=1
    *origin">

    <xacro:include filename="$(find morpheus_description)/urdf/macros/hab_table.xacro" />
    <xacro:hab_table
      prefix=""
      parent="world"
      scale="1"
    >
      <xacro:insert_block name="origin" />
    </xacro:hab_table>
    
    <xacro:include filename="$(find morpheus_description)/urdf/macros/node2.xacro" />
    <xacro:node2
      prefix=""
      parent="${prefix}hab_table"
      scale="1"
    >
      <origin 
        xyz="
          ${0.0254 * 48} 
          ${0.0254 * 14.5} 
          ${0.0254 * 21}
        " 
        rpy="
          0 
          0 
          0
        "
      />
    </xacro:node2>
    <!-- scale=0.0254 meters/inch -->

  </xacro:macro>
</robot>