<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

    <!-- Wrapper for OnRobot Gripper which allows loading params from YAML config files -->

    <xacro:include filename="$(find onrobot_description)/urdf/onrobot_macro.xacro" />

    <xacro:macro name="onrobot" params="
        onrobot_type
        prefix:=''
        sim_gazebo:=false
        use_fake_hardware:=false
        connection_type:=serial
        device:=/tmp/ttyUR
        ip_address:=192.168.1.1
        port:=502
        ">
        
        <xacro:onrobot
            onrobot_type="${onrobot_type}"
            prefix="${prefix}"
            sim_gazebo="${sim_gazebo}"
            use_fake_hardware="${use_fake_hardware}"
            connection_type="${connection_type}"
            device="${device}"
            ip_address="${ip_address}"
            port="${port}"
            >
            <xacro:insert_block name="origin" />
        </xacro:onrobot>

    </xacro:macro>

</robot>