<?xml version="1.0"?>

<robot name="shelf" xmlns:xacro="http://www.ros.org/wiki/xacro">
  
  <xacro:include filename="$(find morpheus_description)/urdf/macros/wall_4x12in.xacro" />
  <xacro:include filename="$(find morpheus_description)/urdf/macros/bar_4in.xacro" />

  <xacro:macro name="shelf"
    params="x:=0 y:=0 z:=0 R:=0 P:=0 Y:=0 scale:=0.0254 prefix parent">

    <link name="${prefix}shelf"/>

    <xacro:wall_4x12in
        x="${x}"
        y="${y}"
        z="${scale * 4 + z}"
        prefix="${prefix}shelf_"
        parent="${prefix}shelf"
        scale="${scale}"
    />

    <xacro:bar_4in
        x="${x}"
        y="${y}"
        z="${z}"
        prefix="${prefix}shelf_1"
        parent="${prefix}shelf"
        scale="${scale}"
    />

    <xacro:bar_4in
        x="${scale * 11 + x}"
        y="${y}"
        z="${z}"
        prefix="${prefix}shelf_2"
        parent="${prefix}shelf"
        scale="${scale}"
    />

    <xacro:bar_4in
        x="${x}"
        y="${scale * 3 + y}"
        z="${z}"
        prefix="${prefix}shelf_3"
        parent="${prefix}shelf"
        scale="${scale}"
    />

    <xacro:bar_4in
        x="${scale * 11 + x}"
        y="${scale * 3 + y}"
        z="${z}"
        prefix="${prefix}shelf_4"
        parent="${prefix}shelf"
        scale="${scale}"
    />

    <joint name="${prefix}shelf_joint" type="fixed">
        <parent link="${parent}" />
        <child link="${prefix}shelf" />
        <origin xyz="${x} ${y} ${z}" rpy="${R} ${P} ${Y}" />
      </joint>

  </xacro:macro>

</robot>