<?xml version="1.0"?>

<robot name="trees" xmlns:xacro="http://www.ros.org/wiki/xacro">

  <xacro:include filename="$(find morpheus_description)/urdf/macros/bar_4in.xacro" />
  <xacro:include filename="$(find morpheus_description)/urdf/macros/wall_4x12in.xacro" />

  <xacro:macro name="trees"
    params="x:=0 y:=0 z:=0 R:=0 P:=0 Y:=0 scale:=0.0254 prefix parent">

    <link name="${prefix}trees"/>

    <xacro:wall_4x12in
        x="0"
        y="0"
        z="0"
        R="0"
        P="${pi/2}"
        Y="0"
        prefix="${prefix}"
        parent="${prefix}trees"
        scale="${scale}"
    />
    <xacro:bar_4in
        x="0"
        y="0"
        z="${scale * 1}"
        R="0"
        P="0"
        Y="0"
        prefix="${prefix}1"
        parent="${prefix}trees"
        scale="${scale}"
    />
    <xacro:bar_4in
        x="${scale * 5.5}"
        y="0"
        z="${scale * 1}"
        R="0"
        P="0"
        Y="0"
        prefix="${prefix}2"
        parent="${prefix}trees"
        scale="${scale}"
    />
    <xacro:bar_4in
        x="${scale * 11}"
        y="0"
        z="${scale * 1}"
        R="0"
        P="0"
        Y="0"
        prefix="${prefix}3"
        parent="${prefix}trees"
        scale="${scale}"
    />

    <joint name="${prefix}trees_joint" type="fixed">
      <parent link="${parent}" />
      <child link="${prefix}trees"/>
      <origin xyz="${x} ${y} ${z}" rpy="${R} ${P} ${Y}" />
    </joint>

  </xacro:macro>

</robot>