<?xml version="1.0"?>
<robot xmlns:xacro="http://wiki.ros.org/xacro">

  <xacro:macro name="ur5e" params="
    *origin
    name:='ur5e'
    ur_type:='ur5e'
    tf_prefix:=''
    parent:='world'
    joint_limits_parameters_file:='$(find ur_description)/config/ur5e/joint_limits.yaml'
    kinematics_parameters_file:='$(find ur_description)/config/ur5e/default_kinematics.yaml'
    physical_parameters_file:='$(find ur_description)/config/ur5e/physical_parameters.yaml'
    visual_parameters_file:='$(find ur_description)/config/ur5e/visual_parameters.yaml'
    safety_limits:=false
    safety_pos_margin:=0.15
    safety_k_position:=20
    force_abs_paths:=false

    control:=false
    gazebo:=false
    end_effector:=none

    simulation_controllers:=''
    ros_namespace:=''
    initial_positions_file:='$(find ur_description)/config/initial_positions.yaml'

    robot_ip:='0.0.0.0'
    script_filename:=''
    input_recipe_filename:=''
    output_recipe_filename:=''
    transmission_hw_interface:=hardware_interface/PositionJointInterface
    use_mock_hardware:=false mock_sensor_commands:=false
    headless_mode:=false
    initial_positions:=${dict(shoulder_pan_joint=0.0,shoulder_lift_joint=-1.57,elbow_joint=0.0,wrist_1_joint=-1.57,wrist_2_joint=0.0,wrist_3_joint=0.0)}
    use_tool_communication:=false
    tool_voltage:=0 tool_parity:=0 tool_baud_rate:=115200 tool_stop_bits:=1
    tool_rx_idle_chars:=1.5 tool_tx_idle_chars:=3.5 tool_device_name:=/tmp/ttyUR tool_tcp_port:=54321
    reverse_port:=50001
    script_sender_port:=50002
    reverse_ip:=0.0.0.0
    script_command_port:=50004
    trajectory_port:=50003
    non_blocking_read:=true
    robot_receive_timeout:=0.04
    rw_rate:=0
    ">

    <!-- Set up xacro args from macro params -->
    <xacro:arg name="name" default="${name}" />
    <xacro:arg name="ur_type" default="${ur_type}" />
    <xacro:arg name="tf_prefix" default="${tf_prefix}" />
    <xacro:arg name="parent" default="${parent}" />
    <xacro:arg name="joint_limits_parameters_file" default="${joint_limits_parameters_file}" />
    <xacro:arg name="kinematics_parameters_file" default="${kinematics_parameters_file}" />
    <xacro:arg name="physical_parameters_file" default="${physical_parameters_file}" />
    <xacro:arg name="visual_parameters_file" default="${visual_parameters_file}" />
    <xacro:arg name="safety_limits" default="${safety_limits}" />
    <xacro:arg name="safety_pos_margin" default="${safety_pos_margin}" />
    <xacro:arg name="safety_k_position" default="${safety_k_position}" />
    <xacro:arg name="force_abs_paths" default="${force_abs_paths}" />
    <xacro:arg name="control" default="${control}" />
    <xacro:arg name="gazebo" default="${gazebo}" />
    <xacro:arg name="end_effector" default="${end_effector}" />
    <xacro:arg name="simulation_controllers" default="${simulation_controllers}" />
    <xacro:arg name="ros_namespace" default="${ros_namespace}" />
    <xacro:arg name="initial_positions_file" default="${initial_positions_file}" />
    <xacro:arg name="robot_ip" default="${robot_ip}" />
    <xacro:arg name="script_filename" default="${script_filename}" />
    <xacro:arg name="input_recipe_filename" default="${input_recipe_filename}" />
    <xacro:arg name="output_recipe_filename" default="${output_recipe_filename}" />
    <xacro:arg name="transmission_hw_interface" default="${transmission_hw_interface}" />
    <xacro:arg name="use_mock_hardware" default="${use_mock_hardware}" />
    <xacro:arg name="mock_sensor_commands" default="${mock_sensor_commands}" />
    <xacro:arg name="headless_mode" default="${headless_mode}" />
    <xacro:arg name="initial_positions" default="${initial_positions}" />
    <xacro:arg name="use_tool_communication" default="${use_tool_communication}" />
    <xacro:arg name="tool_voltage" default="${tool_voltage}" />
    <xacro:arg name="tool_parity" default="${tool_parity}" />
    <xacro:arg name="tool_baud_rate" default="${tool_baud_rate}" />
    <xacro:arg name="tool_stop_bits" default="${tool_stop_bits}" />
    <xacro:arg name="tool_rx_idle_chars" default="${tool_rx_idle_chars}" />
    <xacro:arg name="tool_tx_idle_chars" default="${tool_tx_idle_chars}" />
    <xacro:arg name="tool_device_name" default="${tool_device_name}" />
    <xacro:arg name="tool_tcp_port" default="${tool_tcp_port}" />
    <xacro:arg name="reverse_port" default="${reverse_port}" />
    <xacro:arg name="script_sender_port" default="${script_sender_port}" />
    <xacro:arg name="reverse_ip" default="${reverse_ip}" />
    <xacro:arg name="script_command_port" default="${script_command_port}" />
    <xacro:arg name="trajectory_port" default="${trajectory_port}" />
    <xacro:arg name="non_blocking_read" default="${non_blocking_read}" />
    <xacro:arg name="robot_receive_timeout" default="${robot_receive_timeout}" />
    <xacro:arg name="rw_rate" default="${rw_rate}" />

    <xacro:if value="${control}">
      <xacro:if value="${gazebo}">
        <xacro:include filename="$(find ur_simulation_gz)/urdf/ur_gz.urdf.xacro" ns="include"/>
      </xacro:if>
      <xacro:unless value="${gazebo}">
        <xacro:include filename="$(find ur_robot_driver)/urdf/ur.urdf.xacro" ns="include"/>
      </xacro:unless>
    </xacro:if>
    <xacro:unless value="${control}">
      <xacro:include filename="$(find ur_description)/urdf/ur.urdf.xacro" ns="include"/>
    </xacro:unless>
  </xacro:macro>
</robot>