<?xml version="1.0"?>
<robot xmlns:xacro="http://wiki.ros.org/xacro" name="$(arg name)">

  <xacro:macro name="world" params="">

    <!-- create link fixed to the "world" -->
    <link name="world" />

    <link name="ground_plane">
      <visual>
        <origin rpy="0 0 0" xyz="0 0 0"/>
        <geometry>
          <box size="5 5 0"/>
        </geometry>
        <material name="ground_white">
          <color rgba="1 1 1 0.5"/>
        </material>
      </visual>
      <collision>
        <origin rpy="0 0 0" xyz="0 0 0"/>
        <geometry>
          <box size="5 5 0"/>
        </geometry>
      </collision>
    </link>

    <joint name="ground_plane_joint" type="fixed">
      <origin xyz="0 0 -0.01" rpy="0 0 0"/>
      <parent link="world"/>
      <child link="ground_plane"/>
    </joint>
    
  </xacro:macro>
</robot>